SUPABASE_PROJECT_ID="hkkktpnwqqaeliesfyyg"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_QCuyIRO9nR6GvskRj9tZmg_bGIhUflv"
SUPABASE_URL="https://c--32203d29-95cd-4c75-98d3-1dd5042bd211-prod.lovable.cloud"
VITE_SUPABASE_PROJECT_ID="hkkktpnwqqaeliesfyyg"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_QCuyIRO9nR6GvskRj9tZmg_bGIhUflv"
VITE_SUPABASE_URL="https://c--32203d29-95cd-4c75-98d3-1dd5042bd211-prod.lovable.cloud"
